<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ThenC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ThenC.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        
    </header>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Simple Sidebar - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico">
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet">
    </head>
    <body>
        <div class="d-flex position-fixed p-0" id="wrapper">
            <!-- Sidebar-->
            <div class="border-end " id="sidebar-wrapper" style="width:15em">
                <h3 class="sidebar-heading  p-4" style="">ThenC</h3>
                <nav class="nav">
                    <ul class="list-group w-100">
                        <li class="list-inline-item list-group-item p-3 w-100">
                            <a class="list-inline-item text-decoration-none"  asp-controller="Home" asp-action="Index">Inicio</a>
                        </li>
                        <li class="list-inline-item list-group-item p-3 w-100">
                            <a class="list-inline-item text-decoration-none" asp-controller="Access" asp-action="Index">Acessos</a>
                        </li>
                        <li class="list-inline-item list-group-item p-3 w-100">
                            <a class="list-inline-item text-decoration-none" asp-controller="Config" asp-action="Index">Configurações</a>
                        </li>

                    </ul>
                </nav>
                <h5 class="sidebar-heading  p-4" style="">Componentes</h5>

                <nav class="nav">
                    <ul class="list-group w-100">
                        <li class="list-inline-item list-group-item p-3 w-100">
                            <a class="list-inline-item text-decoration-none" asp-controller="Forms" asp-action="Index"> Formularios</a>
                        </li>
                        <li class="list-inline-item list-group-item p-3 w-100">
                            <a class="list-inline-item text-decoration-none" asp-controller="Tables" asp-action="Index"> Tabelas</a>
                        </li>
                        <li class="list-inline-item list-group-item p-3 w-100">
                            <a class="list-inline-item text-decoration-none" asp-controller="Views" asp-action="Index">  Visualizações</a>
                        </li>
                        <li class="list-inline-item list-group-item p-3 w-100">
                           <br />
                           <br />
                           <br />
                           <br />
                           <br />
                           <br />
                           <br />
                           <br />
                           <br />
                           <br />
                           <br />
                           <br />
                           <br />
                           <br />
                           <br />
                           <br />
                           <br />
                           <br />

                        </li>

                    </ul>
                </nav>
            </div>
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
              
                <!-- Page content-->
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>


    </body>
</html>
    <div class="container">

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
