@using ThenC.Controllers;
@using System.Globalization;
@using System.Collections;

@{
	ViewData["Title"] = "Seleciona uma das opções";

}
<style>
	.form-group {
		padding: 10px;
	}

	.field-validation-error {
		color: #e01d1d;
	}
</style>
<br />
<br />


<nav class=" navbar-expand-lg">
	<div class="container">
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class=" me-auto mb-2 mb-lg-0">
				<li class="">
					<a class="nav-link active" aria-current="page" href="#">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Link</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Dropdown
					</a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="#">Action</a></li>
						<li><a class="dropdown-item" href="#">Another action</a></li>
						<li><hr class="dropdown-divider"></li>
						<li><a class="dropdown-item" href="#">Something else here</a></li>
					</ul>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" aria-disabled="true">Disabled</a>
				</li>
			</ul>
			
		</div>
	</div>
</nav>





<h3>@ViewData["Title"]</h3>
<form class="d-flex" role="search">
	<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
	<button class="btn btn-outline-success" type="submit">Search</button>
</form>
<br />
<br />
<div class="container col-sm-6 d-flex ">

	<div class="card  " style="width: 18rem;margin-right: 20px">
		<img src="..." class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title">Criar um Registro</h5>
			<p class="card-text"></p>
			<a href="#" class="btn btn-primary">Iniciar</a>
		</div>
	</div>

	<div class="card" style="width: 18rem;margin-right: 20px">
		<img src="..." class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title">Editar um registro</h5>
			<p class="card-text"></p>
			<a href="#" class="btn btn-primary">Iniciar</a>
		</div>
	</div>


	<div class="card" style="width: 18rem;margin-right: 20px">
		<img src="..." class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title">Criar uma nova tabela</h5>
			<p class="card-text"></p>
			<a href="#" class="btn btn-primary">Iniciar</a>
		</div>
	</div>

</div>


